.secion1 {
    padding-top: 3%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.secion1_low {
    display: flex;
    align-items: center;
}

h1 {
    margin: 5px;
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

p {
    margin: 5px;
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.name {
    padding-left: 30px;
    text-align: start;
    display: inline-block;
    justify-content: end
}

.number {
    text-align: end;
    display: inline-block;
}

.color_container {
    width: 200px;
    background: #C2C0C0;
}

.padding_cont {
    padding-top: 3%;
}

hr {
    border: 1px solid #C2C0C0;
    width: 70%;
    margin: 0 auto;
}

.text_cont{
    padding-top: 2%;
    display: flex;
    justify-content: space-around;
}

.text {
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 71%;
}


/*.table-container {*/
/*    max-width: 400px;*/
/*    margin: 0 auto;*/
/*}*/

body {
    font-family: Arial, sans-serif;
}

.two_table {
    width: 72%;
    display: flex;
}

.center_table {
    display: flex;
    justify-content: center;
}

.table-container {
    width: 50%; /* Распределение по половинам */
    margin-top: 20px; /* Отступ сверху между таблицами */
}

table {
    width: 100%;
    border-spacing: 0;
    margin-top: 0; /* Уберем верхний отступ у таблиц */
}

.border_table1 {
    border-radius: 5px 0px 0px 0px;
}

.border_table2 {
    border-radius: 0px 5px 0px 0px;
}

thead th {
    color: #5A9645;
    display: flex;
    justify-content: center;
    padding: 10px;
    text-align: left;
    border: 1px solid #5A9645;
}

.border_green_table1 {
    border-radius: 0px 0px 0px 5px;
    border-bottom: 1px solid #5A9645;
}

.border_green_table2 {
    border-radius: 0px 0px 5px 0px;
    border-bottom: 1px solid #5A9645;
}

tbody td {

    padding: 5px;
    text-align: center;
    border-right: 1px solid #5A9645;
    border-left: 1px solid #5A9645;
    border-bottom: none;
    display: flex;
    justify-content: center;
}


tbody td:hover {
    color: #5A9645;
}

/*tbody td:last-child {*/
/*    border-bottom: 1px solid #4caf50;*/
/*}*/

.center_cont {
    display: flex;
    justify-content: space-around;
}

.div_color {

    margin-top: 2%;
    margin-bottom: 2%;
    width: 72%;
    background-color: #5A9645;
    border-radius: 5px;
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.text_cont_white {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    justify-content: space-around;
}

.container {
    display: flex;

    justify-content: space-around;
}


.cont_form{
    display: flex;
}

form {
    display: flex;
    flex-direction: column;
    width: 72%;
}

label {
    margin-bottom: 10px;
}

input {
    width: 50%;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

.margin1 {
    margin-right: 1%;
}

.margin2 {
    margin-left: 1%;
}

textarea {
    height: 103px;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.text_buttom {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

button {
    width: 20%;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    background: #5A9645;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.buttom_cont {
    display: flex;
    justify-content: space-around;
}

.block {
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    transition: border-color 0.3s;
}

.block img {
    width: 100%;
    height: auto;
}

.block p {
    text-align: center;
    margin: 0;
    padding: 10px;
}

.block_color {
    width: 11%;
    height: 32%;
}

.block_color:hover {
    border-radius: 5px;
    box-shadow: 0px 4px 20px 0px #5A9645;

}
